# ANÁLISE DE CRESCIMENTO EMPRESARIAL - VISÃO ENTREGADORES - CURY DELIVERY

Baseado no dataset: https://www.kaggle.com/datasets/gauravmalik26/food-delivery-dataset/data?select=train.csv

Análise de dados acerca da visão de crescimento do lado empresarial focando na visão dos entregadores. 

Caso fantasia da empresa Cury Delivery de marketplace baseado em entregador-entrega-restaurante.

Fatores de análise:
1. Menor e maior idade dos entregadores
2. Pior e melhor condição de veículos
3. Avaliação média por entregador
4. Avaliação média e desvio padrão por tipo de tráfego
5. Avaliação média e desvio padrão por condições climáticas
6. Os 10 entregadores mais rápidos por cidade
7. Os 10 entregadores mais lentos por cidade

In [1]:
# Importando bibliotecas python necessárias para a análise de dados e plotagem
import pandas as pd
import plotly.express as px

In [2]:
# Abrindo arquivo csv com base de dados 'limpa':
df = pd.read_csv('clean_food_delivery_dataset.csv')

In [3]:
# Removendo coluna errônea
df = df.drop('Unnamed: 0', axis=1)

In [6]:
# Convertendo a coluna 'Data_Pedido' para datetime
df['Data_Pedido'] = pd.to_datetime(df['Data_Pedido'])

# Criando a coluna 'Semana_Ano'
df['Semana_Ano'] = df['Data_Pedido'].dt.strftime('%U')

## 1. Menor e maior idade dos entregadores

In [7]:
# Condicao de maior e menor idade:
maior_idade = df['Idade_Entregador'].max()
menor_idade = df['Idade_Entregador'].min()

print(f"Maior idade: {maior_idade}")
print(f"Menor idade: {menor_idade}")

Maior idade: 50
Menor idade: 15

## 2. Pior e melhor condição de veículos

In [10]:
# Condicoa de pior e melhor condição de veículo
melhor = df['Estado_Veiculo'].max()
pior = df['Estado_Veiculo'].min()

print(f"Pior condição de veículo: {melhor}")
print(f"Melhor condição de veículo: {pior}")

Pior condição de veículo: 3
Melhor condição de veículo: 0

## 3. Avaliação média por entregador

In [20]:
# Agrupando entregadores
df_entregadores = df.groupby(['ID_Entregador'])

# Calculando avaliação média
df_3 = df_entregadores['Avaliacoes_Entregador'].mean().reset_index(name="Avaliacao_Media_por_Entregador")

# Exibindo por ordem decrescente
df_3.sort_values(by=['Avaliacao_Media_por_Entregador'], ascending=False).reset_index(drop=True)

      index   ID_Entregador  Avaliacao_Media_por_Entregador
0       158  AURGRES13DEL03                        4.900000
1       816   KOCRES13DEL01                        4.861538
2       497   GOARES05DEL03                        4.842857
3       959  LUDHRES20DEL03                        4.841667
4        55   AGRRES19DEL02                        4.840000
...     ...             ...                             ...
1315    281   BHPRES14DEL03                        4.388889
1316     65   ALHRES01DEL03                        4.355556
1317    847   KOLRES02DEL02                        4.300000
1318    260   BHPRES06DEL03                        4.300000
1319    777   KNPRES20DEL01                        4.300000

[1320 rows x 3 columns]

## 4. Avaliação média e desvio padrão por tipo de tráfego

In [29]:
# Agrupamento de tipos de densidade de tráfego
df_dt = df.groupby('Densidade_Trafego')

# Calculando média e desvio padrão usando funcao de agregacao agg()
df_4 = df_dt['Avaliacoes_Entregador'].agg(['mean', 'std']).reset_index()

# Mudando nomes de colunas
mapeamento = {
    'mean':'Avaliacao_Media',
    'std':'Desvio_Padrao'
}

df_4 = df_4.rename(columns=mapeamento)

# Exibindo em ordem decrescente
df_4.sort_values(by=['Avaliacao_Media'], ascending=False).reset_index(drop=True)

  Densidade_Trafego  Avaliacao_Media  Desvio_Padrao
0            Medium         4.660627       0.273472
1              High         4.653492       0.272312
2               Low         4.646780       0.335426
3               Jam         4.595395       0.328749

## 5. Avaliação média e desvio padrão por condições climáticas

In [31]:
# Agrupamento de condicoes climaticas
df_cc = df.groupby('Condicoes_Climaticas')

# Calculando média e desvio padrão por condições climáticas
df_5 = df_cc['Avaliacoes_Entregador'].agg(['mean', 'std']).reset_index()

# Mundando nomes de colunas
mapeamento = {
    'mean':'Avaliacao_Media',
    'std':'Desvio_Padrao'
}

df_5 = df_5.rename(columns=mapeamento)

# Exibindo em ordem decrescente
df_5.sort_values(by=['Avaliacao_Media'], ascending=False).reset_index(drop=True)

    Condicoes_Climaticas  Avaliacao_Media  Desvio_Padrao
0       conditions Sunny         4.658030       0.393090
1         conditions Fog         4.653549       0.273893
2      conditions Cloudy         4.652190       0.280269
3       conditions Windy         4.617804       0.303464
4      conditions Stormy         4.613369       0.311624
5  conditions Sandstorms         4.613000       0.309512
6         conditions NaN         3.912088       2.479464

## 6. Os 10 entregadores mais rápidos por cidade

In [141]:
# Agrupando cidades e entregadores
df_cidades_entregadores = df.groupby(['Cidade', 'ID_Entregador'])

# Agrupando entregadores e suas médias de tempo de entrega por cidade e entregador
df_media_tempo = df_cidades_entregadores['Tempo_Levado(min)'].mean().reset_index()

# Ordenando valores do menor para maior
df_media_tempo = df_media_tempo.sort_values('Tempo_Levado(min)')

# Agrupando valores ordenados por cidade
df_6 = df_media_tempo.groupby('Cidade').head(20).reset_index(drop=True)
df_6

           Cidade      ID_Entregador  Tempo_Levado(min)
0           Urban      DEHRES08DEL02          10.000000
1           Urban      KNPRES07DEL01          10.000000
2           Urban      DEHRES20DEL03          10.000000
3           Urban     AURGRES02DEL03          10.000000
4           Urban      KOCRES04DEL02          10.000000
5           Urban      BHPRES11DEL03          10.000000
6           Urban     LUDHRES01DEL02          10.000000
7           Urban     LUDHRES07DEL03          11.000000
8           Urban      KOLRES05DEL01          11.000000
9           Urban      BHPRES13DEL01          11.000000
10          Urban      DEHRES17DEL03          11.500000
11          Urban     CHENRES07DEL01          11.666667
12          Urban     PUNERES15DEL03          12.000000
13          Urban      KOCRES11DEL03          12.000000
14          Urban     LUDHRES18DEL02          12.000000
15          Urban      BHPRES01DEL02          12.000000
16          Urban      DEHRES12DEL03          12.000000
17          Urban      AGRRES02DEL03          12.000000
18          Urban     AURGRES20DEL03          12.500000
19          Urban     ALHRES010DEL02          13.000000
20  Metropolitian      KNPRES03DEL02          15.750000
21  Metropolitian      ALHRES02DEL02          17.800000
22  Metropolitian      KNPRES01DEL01          19.125000
23  Metropolitian      KOLRES01DEL03          19.125000
24  Metropolitian      KOCRES02DEL02          19.250000
25  Metropolitian      KOCRES08DEL03          19.800000
26  Metropolitian      KOCRES16DEL03          20.000000
27  Metropolitian      KOCRES02DEL03          20.375000
28  Metropolitian      GOARES14DEL01          20.400000
29  Metropolitian      DEHRES20DEL03          20.428571
30  Metropolitian      ALHRES13DEL01          20.500000
31  Metropolitian     GOARES010DEL02          20.571429
32  Metropolitian      KOLRES06DEL03          21.166667
33  Metropolitian      BHPRES15DEL03          21.200000
34  Metropolitian      DEHRES17DEL01          21.222222
35  Metropolitian      AGRRES03DEL02          21.285714
36  Metropolitian      KOCRES20DEL03          21.444444
37  Metropolitian      GOARES05DEL03          21.500000
38  Metropolitian      BHPRES19DEL03          21.666667
39  Metropolitian      KOLRES14DEL02          21.900000
40     Semi-Urban      SURRES19DEL01          44.000000
41     Semi-Urban      MYSRES18DEL01          44.000000
42     Semi-Urban     INDORES16DEL01          44.000000
43     Semi-Urban     BANGRES18DEL03          45.000000
44     Semi-Urban      SURRES12DEL03          45.000000
45     Semi-Urban      MUMRES09DEL02          46.000000
46     Semi-Urban      SURRES07DEL03          46.000000
47     Semi-Urban   RANCHIRES04DEL01          46.000000
48     Semi-Urban  RANCHIRES010DEL02          46.000000
49     Semi-Urban   RANCHIRES07DEL01          46.000000
50     Semi-Urban      MYSRES15DEL01          46.000000
51     Semi-Urban      HYDRES09DEL02          46.000000
52     Semi-Urban      HYDRES03DEL03          46.000000
53     Semi-Urban    COIMBRES17DEL01          46.000000
54     Semi-Urban     INDORES19DEL01          46.000000
55     Semi-Urban      JAPRES12DEL01          47.000000
56     Semi-Urban     PUNERES12DEL01          47.000000
57     Semi-Urban     MYSRES010DEL02          47.000000
58     Semi-Urban      HYDRES02DEL02          47.000000
59     Semi-Urban      HYDRES01DEL01          47.000000

## 7. Os 10 entregadores mais lentos por cidade

In [146]:
# Agrupamento por cidades e entregadores
df_cidades_entregadores = df.groupby(['Cidade', 'ID_Entregador'])

# Calculando médias de tempo de entrega por cidade e entregador
df_tempo_medio = df_cidades_entregadores['Tempo_Levado(min)'].mean().reset_index()

# Ordenando do maior para menor tempo
df_tempo_medio = df_tempo_medio.sort_values(by=['Tempo_Levado(min)'], ascending=False).reset_index(drop=True)

# Agrupando valores ordenados por cidade
df_7 = df_tempo_medio.groupby('Cidade').head(10).reset_index(drop=True)
df_7

           Cidade   ID_Entregador  Tempo_Levado(min)
0      Semi-Urban   VADRES18DEL01          54.000000
1      Semi-Urban  PUNERES13DEL02          54.000000
2      Semi-Urban  INDORES15DEL01          54.000000
3      Semi-Urban   JAPRES09DEL01          54.000000
4      Semi-Urban   JAPRES14DEL02          54.000000
5      Semi-Urban   HYDRES19DEL01          54.000000
6      Semi-Urban  LUDHRES05DEL01          54.000000
7      Semi-Urban   GOARES18DEL01          54.000000
8      Semi-Urban   MYSRES04DEL03          54.000000
9      Semi-Urban   MYSRES12DEL01          54.000000
10          Urban   KOLRES19DEL03          51.000000
11          Urban  LUDHRES16DEL03          47.000000
12          Urban  AURGRES17DEL03          43.000000
13          Urban   BHPRES03DEL02          42.000000
14          Urban   BHPRES16DEL03          41.500000
15          Urban   DEHRES02DEL03          41.000000
16          Urban   DEHRES09DEL02          39.500000
17  Metropolitian   AGRRES02DEL01          39.428571
18          Urban   BHPRES07DEL03          39.333333
19          Urban   GOARES01DEL02          38.500000
20  Metropolitian  AURGRES11DEL03          38.500000
21  Metropolitian   KOLRES03DEL03          38.142857
22          Urban  AURGRES04DEL01          38.000000
23  Metropolitian  LUDHRES17DEL03          37.000000
24  Metropolitian   ALHRES18DEL02          36.666667
25  Metropolitian   GOARES08DEL03          36.000000
26  Metropolitian   ALHRES12DEL01          35.000000
27  Metropolitian   KNPRES06DEL01          34.555556
28  Metropolitian  ALHRES010DEL01          34.500000
29  Metropolitian   KOCRES09DEL02          34.333333