# TESTE DATAFRAMES FOOD DELIVERY

Link do dataset: https://www.kaggle.com/datasets/gauravmalik26/food-delivery-dataset/data?select=train.csv

Perguntas a responder a partir da análise:
1. Qual o número total de empregados cadastrados na base de dados?

2. Qual o número total de entregadores únicos cadastrados na base de dados?

3. Qual a idade do entregador mais velho? E do mais novo?

4. Qual o ID do entregador com a maior idade? E o ID do entregador com a menor idade?

5. Quais os nomes das condições climáticas presentes na base de dados?

6. Quantas entregas foram realizadas sobre condição climática de tempestade de areia?

7. Quais eram as condicões climáticas da data mais recente de entrega?

8. Quantos tipos de densidade de trânsito existem na base de dados? Quais os nomes delas?

9. Quantas entregas foram feitas em cada condição climática?

10. Quantos entregadores únicos fizeram entregas em cada condição climática?

11. Quantas entregas foram feitas em cada tipo de densidade de trânsito?

12. Quantos entregadores únicos fizeram entregas em cada tipo de densidade de trânsito?

13. Quantas cidades únicas existem na base? Quais são os seus nomes?

14. Quantos tipos de veículos únicos existem na base?

15. Qual o tipo de veículo que mais vez entregas com a condição de trânsito pesado? ( High )

16. Qual o tipo de pedido mais feito durante condições climáticas de tempestade de areia?

17. Qual a cidade com o maior número de pedidos de Bebidas (Drinks) feito em Scooter?

18. Qual o nome da cidade com o (os) entregador mais velho? E o nome da cidade com o (os) entregadores mais novos?

19. Quantas entregas foram feitas durante o Festival?

20. Quantas cidades únicas tiveram entregas feitas durante o Festival?

21. Quantas entregas foram feitas durante o Festival na cidade chamada Urban ("Urban")

## 0. INSPEÇÃO INICIAL (LIMPEZA E TRATAMENTO)

In [1]:
# IMPORTANDO BIBLIOTECA PANDAS PARA ANÁLISE DE DADOS
import pandas as pd

In [2]:
# IMPORTANDO BASE DE DADOS DE ARQUIVO CSV
df = pd.read_csv('train.csv')
df.head(5)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,0x7c09,JAPRES04DEL01,30,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35:00,11:45:00,conditions Windy,High,1,Meal,motorcycle,0,No,Metropolitian,(min) 32
45589,0xd641,AGRRES16DEL01,21,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55:00,20:10:00,conditions Windy,Jam,0,Buffet,motorcycle,1,No,Metropolitian,(min) 36
45590,0x4f8d,CHENRES08DEL03,30,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50:00,00:05:00,conditions Cloudy,Low,1,Drinks,scooter,0,No,Metropolitian,(min) 16
45591,0x5eee,COIMBRES11DEL01,20,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35:00,13:40:00,conditions Cloudy,High,0,Snack,motorcycle,1,No,Metropolitian,(min) 26
45592,0x5fb2,RANCHIRES09DEL02,23,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10:00,17:15:00,conditions Fog,Medium,2,Snack,scooter,1,No,Metropolitian,(min) 36

In [3]:
# TROCANDO NOMES DAS COLUNAS
colunas = {'ID': 'ID',
                     'Delivery_person_ID': 'ID_Entregador',
                     'Delivery_person_Age': 'Idade_Entregador',
                     'Delivery_person_Ratings': 'Avaliacoes_Entregador',
                     'Restaurant_latitude': 'Latitude_Restaurante',
                     'Restaurant_longitude': 'Longitude_Restaurante',
                     'Delivery_location_latitude': 'Latitude_Entrega',
                     'Delivery_location_longitude': 'Longitude_Entrega',
                     'Order_Date': 'Data_Pedido',
                     'Time_Orderd': 'Hora_Pedido',
                     'Time_Order_picked': 'Hora_Entrega',
                     'Weatherconditions': 'Condicoes_Climaticas',
                     'Road_traffic_density': 'Densidade_Trafego',
                     'Vehicle_condition': 'Estado_Veiculo',
                     'Type_of_order': 'Tipo_Pedido',
                     'Type_of_vehicle': 'Tipo_Veiculo',
                     'multiple_deliveries': 'Entregas_Multiplos',
                     'Festival': 'Festival',
                     'City': 'Cidade',
                     'Time_taken(min)': 'Tempo_Levado(min)'}
df.rename(columns=colunas, inplace=True)
df.head(5)

,ID,ID_Entregador,Idade_Entregador,Avaliacoes_Entregador,Latitude_Restaurante,Longitude_Restaurante,Latitude_Entrega,Longitude_Entrega,Data_Pedido,Hora_Pedido,Hora_Entrega,Condicoes_Climaticas,Densidade_Trafego,Estado_Veiculo,Tipo_Pedido,Tipo_Veiculo,Entregas_Multiplos,Festival,Cidade,Tempo_Levado(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,0x7c09,JAPRES04DEL01,30,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35:00,11:45:00,conditions Windy,High,1,Meal,motorcycle,0,No,Metropolitian,(min) 32
45589,0xd641,AGRRES16DEL01,21,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55:00,20:10:00,conditions Windy,Jam,0,Buffet,motorcycle,1,No,Metropolitian,(min) 36
45590,0x4f8d,CHENRES08DEL03,30,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50:00,00:05:00,conditions Cloudy,Low,1,Drinks,scooter,0,No,Metropolitian,(min) 16
45591,0x5eee,COIMBRES11DEL01,20,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35:00,13:40:00,conditions Cloudy,High,0,Snack,motorcycle,1,No,Metropolitian,(min) 26
45592,0x5fb2,RANCHIRES09DEL02,23,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10:00,17:15:00,conditions Fog,Medium,2,Snack,scooter,1,No,Metropolitian,(min) 36

In [4]:
# CRIANDO CÓPIA DO DATAFRAME PRINCIPAL PARA ALTERAÇÕES
df1 = df.copy()

In [5]:
# DESCRIÇÃO GERAL DO DATAFRAME
df1.describe()

,Latitude_Restaurante,Longitude_Restaurante,Latitude_Entrega,Longitude_Entrega,Estado_Veiculo
count,45593.000000,45593.000000,45593.000000,45593.000000,45593.000000
mean,17.017729,70.231332,17.465186,70.845702,1.023359
std,8.185109,22.883647,7.335122,21.118812,0.839065
min,-30.905562,-88.366217,0.010000,0.010000,0.000000
25%,12.933284,73.170000,12.988453,73.280000,0.000000
50%,18.546947,75.898497,18.633934,76.002574,1.000000
75%,22.728163,78.044095,22.785049,78.107044,2.000000
max,30.914057,88.433452,31.054057,88.563452,3.000000

In [6]:
# AVALIAÇÃO TÉCNICA DOS DADOS DO DATAFRAME
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     45593 non-null  object
 1   ID_Entregador          45593 non-null  object
 2   Idade_Entregador       45593 non-null  object
 3   Avaliacoes_Entregador  45593 non-null  object
 4   Latitude_Restaurante   45593 non-null  float64
 5   Longitude_Restaurante  45593 non-null  float64
 6   Latitude_Entrega       45593 non-null  float64
 7   Longitude_Entrega      45593 non-null  float64
 8   Data_Pedido            45593 non-null  object
 9   Hora_Pedido            45593 non-null  object
 10  Hora_Entrega           45593 non-null  object
 11  Condicoes_Climaticas   45593 non-null  object
 12  Densidade_Trafego      45593 non-null  object
 13  Estado_Veiculo         45593 non-null  int64
 14  Tipo_Pedido            45593 non-null  object
 15  Tipo_Veiculo           45593 non-null  object
 16  Entregas_Multiplos     45593 non-null  object
 17  Festival               45593 non-null  object
 18  Cidade                 45593 non-null  object
 19  Tempo_Levado(min)      45593 non-null  object
dtypes: float64(4), int64(1), object(15)
memory usage: 7.0+ MB

In [10]:
# REALIZANDO CONVERSÃO NECESSÁRIA DE TIPOS PARA IDADE, AVALIAÇÕES E MULTIPLAS ENTREGAS
# Removendo registros com NaN 
linhas_validas = (df1['Idade_Entregador'] != 'NaN ') & (df1['Avaliacoes_Entregador'] != 'NaN ') & (df1['Entregas_Multiplos'] != 'NaN ')
df1 = df1.loc[linhas_validas, :].copy()

# Conversão com .astype()
df1['Idade_Entregador'] = df1['Idade_Entregador'].astype(int)
df1['Avaliacoes_Entregador'] = df1['Avaliacoes_Entregador'].astype(float)
df1['Entregas_Multiplos'] = df1['Entregas_Multiplos'].astype(int)

# CONVERTENDO COLUNA DE DATA
df1['Data_Pedido'] = pd.to_datetime(df1['Data_Pedido'], format='%d-%m-%Y')

# RESETANDO ÍNDICES PARA RECONFIGURAÇÃO DO DF
df1 = df1.reset_index(drop=True)

df1.dtypes

ID                               object
ID_Entregador                    object
Idade_Entregador                  int32
Avaliacoes_Entregador           float64
Latitude_Restaurante            float64
Longitude_Restaurante           float64
Latitude_Entrega                float64
Longitude_Entrega               float64
Data_Pedido              datetime64[ns]
Hora_Pedido                      object
Hora_Entrega                     object
Condicoes_Climaticas             object
Densidade_Trafego                object
Estado_Veiculo                    int64
Tipo_Pedido                      object
Tipo_Veiculo                     object
Entregas_Multiplos                int32
Festival                         object
Cidade                           object
Tempo_Levado(min)                object
dtype: object

In [11]:
# LIMPEZA DE ESPAÇOS EM BRANCO JUNTO AOS DADOS DOS REGISTROS USANDO .strip()
# ID (0), ID_Entregador(1), Densidade_Trafego(12), Tipo_Pedido(14) 
# Tipo_Veiculo (15), Festival(17), Cidade(18) 

# Índices das colunas que você deseja aplicar strip
indices_colunas = [0, 1, 12, 14, 15, 17, 18]

# Aplicar strip a cada elemento nas colunas selecionadas
for coluna in indices_colunas:
    df1.iloc[:, coluna] = df1.iloc[:, coluna].astype(str).str.strip()

In [12]:
df1.dtypes

ID                               object
ID_Entregador                    object
Idade_Entregador                  int32
Avaliacoes_Entregador           float64
Latitude_Restaurante            float64
Longitude_Restaurante           float64
Latitude_Entrega                float64
Longitude_Entrega               float64
Data_Pedido              datetime64[ns]
Hora_Pedido                      object
Hora_Entrega                     object
Condicoes_Climaticas             object
Densidade_Trafego                object
Estado_Veiculo                    int64
Tipo_Pedido                      object
Tipo_Veiculo                     object
Entregas_Multiplos                int32
Festival                         object
Cidade                           object
Tempo_Levado(min)                object
dtype: object

# 1. Qual o número total de empregados cadastrados na base de dados?

In [13]:
# UTILIZAÇÃO DO MÉTODO .nunique() PARA DETERMINAR CONTAGEM DE VALORES DIFERENTES
total_entregadores = df1['ID_Entregador'].nunique()
total_entregadores

1320

# 2. Qual o número total de entregadores únicos cadastrados na base de dados?

In [24]:
# ENTREGADORES ÚNICOS => MULTIPLAS ENTREGAS = 0
entregas_multiplas = (df1['Entregas_Multiplos'] == 0)
df_em = df1.loc[entregas_multiplas, :].copy()

tot_entregadores_unicos = df_em['ID_Entregador'].nunique()
tot_entregadores_unicos

1301

# 3. Qual a idade do entregador mais velho? E do mais novo?

In [37]:
# UTILIZANDO MÉTODOS .max() E .min()
idade_max = df1['Idade_Entregador'].max()
idade_min = df1['Idade_Entregador'].min()

print(f"Idade do mais velho: {idade_max} anos\nIdade do mais novo: {idade_min} anos")

Idade do mais velho: 50 anos
Idade do mais novo: 15 anos

# 4. Qual o ID do entregador com a maior idade? E o ID do entregador com a menor idade?

In [48]:
mais_velho = df1['Idade_Entregador'] == idade_max
mais_novo = df1['Idade_Entregador'] == idade_min

id_mais_velho = df1.loc[mais_velho, 'ID_Entregador']
id_mais_novo = df1.loc[mais_novo, 'ID_Entregador']

38