# TESTE DATAFRAMES FOOD DELIVERY

Link do dataset: https://www.kaggle.com/datasets/gauravmalik26/food-delivery-dataset/data?select=train.csv

Perguntas a responder a partir da análise:
1. Qual o número total de entregas na base de dados?

2. Qual o número total de entregadores cadastrados na base de dados?

3. Qual a idade do entregador mais velho? E do mais novo?

4. Qual o ID do entregador com a maior idade? E o ID do entregador com a menor idade?

5. Quais os nomes das condições climáticas presentes na base de dados?

6. Quantas entregas foram realizadas sobre condição climática de tempestade de areia?

7. Quais eram as condicões climáticas da data mais recente de entrega?

8. Quantos tipos de densidade de trânsito existem na base de dados? Quais os nomes delas?

9. Quantas entregas foram feitas em cada condição climática?

10. Quantos entregadores únicos fizeram entregas em cada condição climática?

11. Quantas entregas foram feitas em cada tipo de densidade de trânsito?

12. Quantos entregadores únicos fizeram entregas em cada tipo de densidade de trânsito?

13. Quantas cidades únicas existem na base? Quais são os seus nomes?

14. Quantos tipos de veículos únicos existem na base?

15. Qual o tipo de veículo que mais vez entregas com a condição de trânsito pesado? ( High )

16. Qual o tipo de pedido mais feito durante condições climáticas de tempestade de areia?

17. Qual a cidade com o maior número de pedidos de Bebidas (Drinks) feito em Scooter?

18. Qual o nome da cidade com o (os) entregador mais velho? E o nome da cidade com o (os) entregadores mais novos?

19. Quantas entregas foram feitas durante o Festival?

20. Quantas cidades únicas tiveram entregas feitas durante o Festival?

21. Quantas entregas foram feitas durante o Festival na cidade chamada Urban ("Urban")

## 0. INSPEÇÃO INICIAL (LIMPEZA E TRATAMENTO)

In [1]:
# IMPORTANDO BIBLIOTECA PANDAS PARA ANÁLISE DE DADOS
import pandas as pd
import re

In [2]:
# IMPORTANDO BASE DE DADOS DE ARQUIVO CSV
df = pd.read_csv('train.csv')
df.head(5)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30

In [3]:
# TROCANDO NOMES DAS COLUNAS
colunas = {'ID': 'ID',
                     'Delivery_person_ID': 'ID_Entregador',
                     'Delivery_person_Age': 'Idade_Entregador',
                     'Delivery_person_Ratings': 'Avaliacoes_Entregador',
                     'Restaurant_latitude': 'Latitude_Restaurante',
                     'Restaurant_longitude': 'Longitude_Restaurante',
                     'Delivery_location_latitude': 'Latitude_Entrega',
                     'Delivery_location_longitude': 'Longitude_Entrega',
                     'Order_Date': 'Data_Pedido',
                     'Time_Orderd': 'Hora_Pedido',
                     'Time_Order_picked': 'Hora_Entrega',
                     'Weatherconditions': 'Condicoes_Climaticas',
                     'Road_traffic_density': 'Densidade_Trafego',
                     'Vehicle_condition': 'Estado_Veiculo',
                     'Type_of_order': 'Tipo_Pedido',
                     'Type_of_vehicle': 'Tipo_Veiculo',
                     'multiple_deliveries': 'Entregas_Multiplos',
                     'Festival': 'Festival',
                     'City': 'Cidade',
                     'Time_taken(min)': 'Tempo_Levado(min)'}
df.rename(columns=colunas, inplace=True)
df.head(5)

,ID,ID_Entregador,Idade_Entregador,Avaliacoes_Entregador,Latitude_Restaurante,Longitude_Restaurante,Latitude_Entrega,Longitude_Entrega,Data_Pedido,Hora_Pedido,Hora_Entrega,Condicoes_Climaticas,Densidade_Trafego,Estado_Veiculo,Tipo_Pedido,Tipo_Veiculo,Entregas_Multiplos,Festival,Cidade,Tempo_Levado(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30

In [4]:
# CRIANDO CÓPIA DO DATAFRAME PRINCIPAL PARA ALTERAÇÕES
df1 = df.copy()

In [5]:
# DESCRIÇÃO GERAL DO DATAFRAME
df1.describe()

,Latitude_Restaurante,Longitude_Restaurante,Latitude_Entrega,Longitude_Entrega,Estado_Veiculo
count,45593.000000,45593.000000,45593.000000,45593.000000,45593.000000
mean,17.017729,70.231332,17.465186,70.845702,1.023359
std,8.185109,22.883647,7.335122,21.118812,0.839065
min,-30.905562,-88.366217,0.010000,0.010000,0.000000
25%,12.933284,73.170000,12.988453,73.280000,0.000000
50%,18.546947,75.898497,18.633934,76.002574,1.000000
75%,22.728163,78.044095,22.785049,78.107044,2.000000
max,30.914057,88.433452,31.054057,88.563452,3.000000

In [6]:
# AVALIAÇÃO TÉCNICA DOS DADOS DO DATAFRAME
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     45593 non-null  object
 1   ID_Entregador          45593 non-null  object
 2   Idade_Entregador       45593 non-null  object
 3   Avaliacoes_Entregador  45593 non-null  object
 4   Latitude_Restaurante   45593 non-null  float64
 5   Longitude_Restaurante  45593 non-null  float64
 6   Latitude_Entrega       45593 non-null  float64
 7   Longitude_Entrega      45593 non-null  float64
 8   Data_Pedido            45593 non-null  object
 9   Hora_Pedido            45593 non-null  object
 10  Hora_Entrega           45593 non-null  object
 11  Condicoes_Climaticas   45593 non-null  object
 12  Densidade_Trafego      45593 non-null  object
 13  Estado_Veiculo         45593 non-null  int64
 14  Tipo_Pedido            45593 non-null  object
 15  Tipo_Veiculo           45593 non-null  object
 16  Entregas_Multiplos     45593 non-null  object
 17  Festival               45593 non-null  object
 18  Cidade                 45593 non-null  object
 19  Tempo_Levado(min)      45593 non-null  object
dtypes: float64(4), int64(1), object(15)
memory usage: 7.0+ MB

In [7]:
# REALIZANDO CONVERSÃO NECESSÁRIA DE TIPOS PARA IDADE, AVALIAÇÕES E MULTIPLAS ENTREGAS
# Removendo registros com NaN 
linhas_validas = (df1['Idade_Entregador'] != 'NaN ') & (df1['Avaliacoes_Entregador'] != 'NaN ') & (df1['Entregas_Multiplos'] != 'NaN ')
df1 = df1.loc[linhas_validas, :].copy()

# Conversão com .astype()
df1['Idade_Entregador'] = df1['Idade_Entregador'].astype(int)
df1['Avaliacoes_Entregador'] = df1['Avaliacoes_Entregador'].astype(float)
df1['Entregas_Multiplos'] = df1['Entregas_Multiplos'].astype(int)

# CONVERTENDO COLUNA DE DATA
df1['Data_Pedido'] = pd.to_datetime(df1['Data_Pedido'], format='%d-%m-%Y')

# RESETANDO ÍNDICES PARA RECONFIGURAÇÃO DO DF
df1 = df1.reset_index(drop=True)

df1.dtypes

ID                               object
ID_Entregador                    object
Idade_Entregador                  int32
Avaliacoes_Entregador           float64
Latitude_Restaurante            float64
Longitude_Restaurante           float64
Latitude_Entrega                float64
Longitude_Entrega               float64
Data_Pedido              datetime64[ns]
Hora_Pedido                      object
Hora_Entrega                     object
Condicoes_Climaticas             object
Densidade_Trafego                object
Estado_Veiculo                    int64
Tipo_Pedido                      object
Tipo_Veiculo                     object
Entregas_Multiplos                int32
Festival                         object
Cidade                           object
Tempo_Levado(min)                object
dtype: object

In [8]:
# LIMPEZA DE ESPAÇOS EM BRANCO JUNTO AOS DADOS DOS REGISTROS USANDO .strip()
# ID (0), ID_Entregador(1), Densidade_Trafego(12), Tipo_Pedido(14) 
# Tipo_Veiculo (15), Festival(17), Cidade(18) 

# Índices das colunas que você deseja aplicar strip
indices_colunas = [0, 1, 12, 14, 15, 17, 18]

# Aplicar strip a cada elemento nas colunas selecionadas
for coluna in indices_colunas:
    df1.iloc[:, coluna] = df1.iloc[:, coluna].astype(str).str.strip()

In [9]:
df1.dtypes

ID                               object
ID_Entregador                    object
Idade_Entregador                  int32
Avaliacoes_Entregador           float64
Latitude_Restaurante            float64
Longitude_Restaurante           float64
Latitude_Entrega                float64
Longitude_Entrega               float64
Data_Pedido              datetime64[ns]
Hora_Pedido                      object
Hora_Entrega                     object
Condicoes_Climaticas             object
Densidade_Trafego                object
Estado_Veiculo                    int64
Tipo_Pedido                      object
Tipo_Veiculo                     object
Entregas_Multiplos                int32
Festival                         object
Cidade                           object
Tempo_Levado(min)                object
dtype: object

# 1. Qual o número total de entregas na base de dados?

In [10]:
# TOTAL DE ENTREGAS COMO TAMANHO TOTAL DE IDS (CODIGO DE ENTREGA)
df1['ID'].size

42752

# 2. Qual o número total de entregadores cadastrados na base de dados?

In [11]:
# CONTAGEM DE ENTREGADORES ÚNICOS COM .nunique()
df1['ID_Entregador'].nunique()

1320

# 3. Qual a idade do entregador mais velho? E do mais novo?

In [12]:
# UTILIZANDO MÉTODOS .max() E .min()
idade_max = df1['Idade_Entregador'].max()
idade_min = df1['Idade_Entregador'].min()

print(f"Idade do mais velho: {idade_max} anos\nIdade do mais novo: {idade_min} anos")

Idade do mais velho: 50 anos
Idade do mais novo: 15 anos

# 4. Qual o ID do entregador com a maior idade? E o ID do entregador com a menor idade?

In [13]:
mais_velho = df1['Idade_Entregador'] == idade_max
mais_novo = df1['Idade_Entregador'] == idade_min

id_mais_velho = df1.loc[mais_velho, 'ID_Entregador'].copy()
id_mais_novo = df1.loc[mais_novo, 'ID_Entregador'].copy()
# AMBOS POSSUEM MAIS DE UM COM A IDADE MÁXIMA E MÍNIMA
# NÃO SENDO POSSÍVEL DETERMINAR APENAS UM

# 5. Quais os nomes das condições climáticas presentes na base de dados?

In [14]:
# BUSCANDO OS VALORES ÚNICOS DA COLUNA DE CONDIÇÕES CLIMÁTICAS
condicoes = df1['Condicoes_Climaticas'].unique()
print("Condições Climáticas:")

for condicao in condicoes:
    if condicao != 'conditions NaN':
        print(condicao[10:])

Condições Climáticas:
 Sunny
 Stormy
 Sandstorms
 Cloudy
 Fog
 Windy

# 6. Quantas entregas foram realizadas sobre condição climática de tempestade de areia?

In [15]:
tempestade_areia = df1['Condicoes_Climaticas'] == 'conditions Sandstorms'

# TODOS OS REGISTROS ONDE A ENTREGA FOI FEITA SOBRE TAL CONDIÇÃO
entregas_ta = df1.loc[tempestade_areia, :].copy()

print(f"Quantidade de entregas sobre condição climática de tempestade de areia:\n{entregas_ta.shape[0]}")

Quantidade de entregas sobre condição climática de tempestade de areia:
7077

# 7. Quais eram as condicões climáticas da data mais recente de entrega?

In [16]:
# SELECIONANDO DATA MAIS RECENTE
data_recente = df1['Data_Pedido'].max()

# SELECIONANDO ENTREGAS DA DATA MAIS RECENTE
entregas_dr = df1.loc[df1['Data_Pedido'] == data_recente, ['Condicoes_Climaticas', 'Hora_Entrega', 'Data_Pedido']].copy()

# SELECIONANDO CONDIÇÃO CLIMÁTICA COM A HORA MAIS RECENTE
entregas_dr = entregas_dr.loc[entregas_dr['Hora_Entrega'] == entregas_dr['Hora_Entrega'].max(),:]
condicoes_dr = entregas_dr['Condicoes_Climaticas'].unique()

# CONDIÇÕES PRESENTES NAS ENTREGAS MAIS RECENTES REGISTRADAS
print("Condições predominantes das últimas entregas:")
for condicao in condicoes_dr:
    print(condicao[10:])

Condições predominantes das últimas entregas:
 Cloudy
 Windy
 Sandstorms
 Stormy

# 8. Quantos tipos de densidade de trânsito existem na base de dados? Quais os nomes delas?

In [17]:
# VALORES ÚNICOS PRESENTES NOS REGISTROS DAS COLUNAS DE DENSIDADE DE TRÂNSITO:
tipos_densidade = df1['Densidade_Trafego'].unique()

# REMOVENDO 'NaN'
tipos_densidade = tipos_densidade.tolist()
tipos_densidade.remove('NaN')

print(f"QUANTIDADE DE TIPOS EXISTENTES PARA DENSIDADE DE TRÂNSITO: {len(tipos_densidade)}")
for tipo in tipos_densidade:
    print(tipo)

QUANTIDADE DE TIPOS EXISTENTES PARA DENSIDADE DE TRÂNSITO: 4
High
Jam
Low
Medium

# 9. Quantas entregas foram feitas em cada condição climática?

In [18]:
df1['Condicoes_Climaticas'].value_counts()

Condicoes_Climaticas
conditions Fog           7283
conditions Stormy        7218
conditions Cloudy        7124
conditions Sandstorms    7077
conditions Windy         7066
conditions Sunny         6893
conditions NaN             91
Name: count, dtype: int64

# 10. Quantos entregadores únicos fizeram entregas em cada condição climática?

In [19]:
# SEPARANDO CADA CONDIÇÃO CLIMÁTICA
condicoes = list(df1['Condicoes_Climaticas'].unique())

# PERCORRENDO A LISTA DE CONDIÇÕES CLIMÁTICAS
for condicao in condicoes:
    qtd_entregadores = len(df1.loc[df1['Condicoes_Climaticas'] == condicao, 'ID_Entregador'].unique())
    print(condicao, qtd_entregadores)

conditions Sunny 1230
conditions Stormy 1233
conditions Sandstorms 1239
conditions Cloudy 1244
conditions Fog 1250
conditions Windy 1230
conditions NaN 87

# 11. Quantas entregas foram feitas em cada tipo de densidade de trânsito?

In [20]:
df1['Densidade_Trafego'].value_counts()

Densidade_Trafego
Low       14583
Jam       13465
Medium    10403
High       4210
NaN          91
Name: count, dtype: int64

# 12. Quantos entregadores únicos fizeram entregas em cada tipo de densidade de trânsito?

In [21]:
# SEPARANDO TIPOS DE DENSIDADE DE TRÂNSITO
tipos = list(df1['Densidade_Trafego'].unique())

# PERCORRENDO TIPOS EM BUSCA DE REGISTROS DE ENTREGADORES UNICOS DE CADA 
for tipo in tipos:
    qtd_entregadores = len(df1.loc[df1['Densidade_Trafego'] == tipo, 'ID_Entregador'].unique())
    print(tipo, qtd_entregadores)

High 787
Jam 1306
Low 1310
Medium 1287
NaN 87

# 13. Quantas cidades únicas existem na base? Quais são os seus nomes?

In [22]:
qtd = df1['Cidade'].nunique()
cidades = df1['Cidade'].unique()

print(f"Existem {qtd} únicas, sendo elas:")
for cidade in cidades:
    print(cidade)

Existem 4 únicas, sendo elas:
Urban
Metropolitian
Semi-Urban
NaN

# 14. Quantos tipos de veículos únicos existem na base?

In [23]:
qtd = df1['Tipo_Veiculo'].nunique()
tipos = df1['Tipo_Veiculo'].unique()

print(f"Existem {qtd} únicos, sendo eles:")
for tipo in tipos:
    print(tipo)

Existem 4 únicos, sendo eles:
motorcycle
scooter
electric_scooter
bicycle

# 15. Qual o tipo de veículo que mais vez entregas com a condição de trânsito pesado? ( High )

In [24]:
# SEPARANDO REGISTROS QUE TEM CONDIÇÃO DE TRANSITO PESADA
condicao = df1['Densidade_Trafego'] == 'High'

# SEPARANDO TIPO DE VEÍCULO DAS CONDIÇÕES DE TRÂNSITO PESADA
tipo_veiculo_high = df1.loc[condicao, 'Tipo_Veiculo'].copy()

# Utilizando idxmax() para detectar valor que mais aparece
print(f"Tipo de veículo: {tipo_veiculo_high.value_counts().idxmax()}")
print(f"Quantidade de entregas sob tais condições: {tipo_veiculo_high.value_counts().max()}")

Tipo de veículo: motorcycle
Quantidade de entregas sob tais condições: 2480

# 16. Qual o tipo de pedido mais feito durante condições climáticas de tempestade de areia?

In [25]:
# SEPARANDO REGISTROS COM CONDIÇÕES DE TEMPESTADE DE AREIA
condicao = df1['Condicoes_Climaticas'] == 'conditions Sandstorms'

# SEPARANDO TIPO DE PEDIDO PARA TAL CONDIÇÃO
tipo_pedido_ta = df1.loc[condicao, 'Tipo_Pedido'].copy()

# Utilizando idxmax() e max() para detectar valor que mais aparece
mais_pedido = tipo_pedido_ta.value_counts().idxmax()
qtd = tipo_pedido_ta.value_counts().max()

print(f"Mais pedido sob tais condições: ''{mais_pedido}''. Quantidade: {qtd}")

Mais pedido sob tais condições: ''Meal''. Quantidade: 1810

# 17. Qual a cidade com o maior número de pedidos de Bebidas (Drinks) feito em Scooter?

In [26]:
# SEPARANDO REGISTROS COM PEDIDOS DO TIPO DRINK EM SCOOTER
condicao = (df1['Tipo_Veiculo'] == 'scooter') & (df1['Tipo_Pedido'] == 'Drinks')

# SEPARANDO CIDADES COM TAIS CONDIÇÕES
cidade = df1.loc[condicao, 'Cidade'].copy()

# Utilizando idxmax() e max() para detectar valor que mais aparece
mais_pedido = cidade.value_counts().idxmax()
qtd = cidade.value_counts().max()

print(f"Cidade com maior número de pedidos de bebidas em scooters: ''{mais_pedido}''. Quantidade: {qtd}")

Cidade com maior número de pedidos de bebidas em scooters: ''Metropolitian''. Quantidade: 2652

# 18. Qual o nome da cidade com o (os) entregador mais velho? E o nome da cidade com o (os) entregadores mais novos?

In [27]:
# SEPARANDO IDADES DOS ENTREGADORES MAIS NOVOS E MAIS VELHOS
idade_mais_velho = df1['Idade_Entregador'].max()
idade_mais_novo = df1['Idade_Entregador'].min()

condicao_mv = df1['Idade_Entregador'] == idade_mais_velho
condicao_mn = df1['Idade_Entregador'] == idade_mais_novo

# SEPARANDO REGISTROS DE CIDADES COM OS ENTREGADORES MAIS NOVOS E MAIS VELHOS
cidades_mv = df1.loc[condicao_mv, 'Cidade'].copy()
cidades_mn = df1.loc[condicao_mn, 'Cidade'].copy()

# Utilizando idxmax() e max() para detectar valor que mais aparece
cidade_mv = cidades_mv.value_counts().idxmax()
cidade_mn = cidades_mn.value_counts().idxmax()

print(f"Cidade com mais entregadores com {idade_mais_novo} anos: {cidade_mn}")
print(f"Cidade com mais entregadores com {idade_mais_velho} anos: {cidade_mv}")

Cidade com mais entregadores com 15 anos: Metropolitian
Cidade com mais entregadores com 50 anos: Metropolitian

# 19. Quantas entregas foram feitas durante o Festival?

In [32]:
# SEPARANDO CONDIÇÃO DE FESTIVAL
condicao = df1['Festival'] == 'Yes'

# BUSCA POR REGISTROS DE ENTREGA COM FESTIVAL E DETERMINAÇÃO DA CONTAGEM
qtd_entregas_festival = len(df1.loc[condicao, :])

print(f"Foram feitas {qtd_entregas_festival} entregas durante o festival")

Foram feitas 848 entregas durante o festival

# 20. Quantas cidades únicas tiveram entregas feitas durante o Festival?

In [54]:
cidades_entregas_festival = df1.loc[df1['Festival'] == 'Yes', 'Cidade'].unique()

print(f"Quantidade de cidades únicas com entregas durante o festival: {len(cidades_entregas_festival)}")
for cidade in cidades_entregas_festival:
    print(cidade)

Quantidade de cidades únicas com entregas durante o festival: 4
Urban
Metropolitian
Semi-Urban
NaN

# 21. Quantas entregas foram feitas durante o Festival na cidade chamada Urban ("Urban")

In [58]:
condicao = (df1['Festival'] == 'Yes') & (df1['Cidade'] == 'Urban')

qtd_entregas = len(df1.loc[condicao, :])

print("Quantidade de entregas feitas durante festival na cidade urban: ")
print(qtd_entregas)

Quantidade de entregas feitas durante festival na cidade urban:
109